<div class="KanbanController__wrapper full-screen
        hidden-overflow
        flex flex-justify-around">
    <KanbanBoard
            :key="index"
            :elementIndex="index"
            :data="item"
            :lastBoard="index + 1 === boards.length"
            :firstBoard="!index"
            v-for="(item,index) in boards"
            @addButtonClick = "addButtonClick"
    />
    <KanbanAddForm
            v-if="addFormVisible"
            @addTask="addTask"
            @close="closeCard"
    />
</div>