.KanbanCard__{
  &wrapper{
    padding: 10px;
    margin: 10px;
  }
  &header{
    border-bottom: 1px solid black;
    padding: 4px;
    display: grid;
    grid-template-columns: 16px auto 16px;

    &-left{
      grid-column-start: 1;
    }

    &-center{
      grid-column-start: 2;
      text-align: center;
    }

    &-right{
      grid-column-start: 3;
    }
  }
  &content{
    text-align: justify;
    border-bottom: 1px solid black;
    padding: 4px;
    word-break: break-all;
  }
  &date{
    padding: 10px;
  }
}